[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
passlib = "*"
sqlalchemy = "*"
python-dotenv = "*"
pyjwt = {extras = ["crypto"], version = "*"}
typer = {extras = ["all"], version = "*"}
rich = "*"

[dev-packages]

[requires]
python_version = "3.12"
