[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
passlib = "*"
sqlalchemy = "*"
python-dotenv = "*"
typer = {extras = ["all"], version = "*"}
rich = "*"
jwt = "*"
pyjwt = {extras = ["crypto"], version = "*"}
sentry-sdk = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.12"
